* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

:root {
   --primary-green:  hsl(75, 94%, 57%);
   --neutral-white: hsl(0, 0%, 100%);
   --neural-grey: hsl(0, 0%, 20%);
   --neural-dark-grey: hsl(0, 0%, 12%);
   --neural-off-black: hsl(0, 0%, 8%);
}

body {
    background-color: var(--neural-off-black);
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    display: grid;
    place-content: center;
}

.card {
    background-color: var(--neural-dark-grey);
    color: var(--neutral-white);
    padding: 2rem;
    max-width: 400px;
    text-align: center;
    border-radius: .75rem;
}

.card img {
    margin-bottom: .5rem;
    width: 75px;
    border-radius: 50%;
}

.card h2 {
    font-size: 1.75rem;
}

.card .location {
    color: var(--primary-green);
    margin: .5rem 0 1.5rem;
    font-weight: 700;
}

.card ul {
    margin-top: 1.75rem;
}

.card ul li:not(:last-child) {
    margin-bottom: 1rem;
}

.card ul li a {
    display: block;
    background-color: var(--neural-grey);
    color: var(--neutral-white);
    padding: 1rem;
    font-weight: 600;
    border-radius: .5rem;
}

.card ul li a:hover {
    background-color: var(--primary-green);
    color: var(--neural-off-black);
}

.attribution {
    padding: 5rem;
    font-weight: 50%;
    

}